
    <div id="allpage">
        <div class="link">
            <button mat-button (click)="login()">login</button>
          </div>
      
          <div class="link">
            <button mat-button (click)="register()">register</button>
          </div>
      
          <div class="link">
            <button mat-button (click)="logout()">logout </button>
          </div>
      
          <div class="link">
            <button mat-button (click)="allrecipes()">all recipes</button>
          </div>
      
          <div class="link">
            <button mat-button (click)="addrecipe()">add recipe</button>
          </div>
        <div id="logo">
            <div>
            <img src="./../../../assets/imges/icon/muffin.svg" style="width: 100px; height: 85px;">
        </div>
        <div>
            <p>Recipes site | Chani</p>
        </div>
        </div>
    </div>