.example-form {
    min-width: 800px;
    max-width: 800px;
    width: 100%;
}

.mat-mdc-form-field.example-full-width.mat-mdc-form-field-type-mat-input.mat-form-field-appearance-fill.mat-primary.ng-pristine.ng-valid.ng-tns-c2306706986-4.ng-touched{
 display: none;
}

#alll {
    margin-top: 5%;
    /* margin-left: 20%; */
    display: flex;
    justify-content: space-evenly;
}

h1 {
    font-size: 500%;
    font-family: Cooper Black;
}
button{
    background-color: pink;
}